:root {
  --title-color: #212121;
  --first-color: #757575;
  --second-color: #ffffff;
  --accent-color: #2196f3;
  --main-background-color: #f5f4fa;
  --main-padding: 94px;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--title-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 1px solid red;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* ------------------HEADER---------------- */

.header {
  padding-top: 32px;
  padding-bottom: 32px;
}

.logo {
  font-family: "Raleway", Tahoma, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-first {
  color: #000000;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-list .link.current {
  color: var(--accent-color);
}

.header-address {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-color);
}

.header-address:hover,
.header-address:focus {
  color: var(--accent-color);
}

/* ------------------HERO---------------- */

.hero {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-color);
  margin-bottom: 30px;
}

.hero-btn {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.06em;
  color: var(--second-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

/* ------------------MAIN---------------- */

.feature {
  padding-top: var(--main-padding);
  padding-bottom: 47px;
}

.feature-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}

.feature-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--first-color);
}

.about {
  padding-top: 47px;
  padding-bottom: var(--main-padding);
}

.about-title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 50px;
}

.team-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}

.team {
  background-color: var(--main-background-color);
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}

.team-img {
  margin-bottom: 30px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 10px;
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-color);
}

/* ------------------PORTFOLIO---------------- */

.works {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}

.button-item {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: var(--main-background-color);
  cursor: pointer;
}

.button-item:hover,
.button-item:focus {
  color: var(--second-color);
  background-color: var(--accent-color);
}

.button-list {
  margin-bottom: 50px;
}

.button-list .button-item.current {
  color: var(--second-color);
  background-color: var(--accent-color);
}

.portfolio-img {
  margin-bottom: 20px;
}

.work-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}

.work-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--first-color);
}

/* ------------------FOOTER---------------- */

.footer-content {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-second {
  color: var(--second-color);
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.address:hover,
.address:focus {
  color: var(--accent-color);
}
.address-footer {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address-footer:hover,
.address-footer:focus {
  color: var(--accent-color);
}
